@font-face {
  font-family: 'RobotoSite';
  src: url('roboto-v29-latin_cyrillic-regular.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'RobotoSite';
  src: url('roboto-v29-latin_cyrillic-500.woff2') format('woff2');
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'RobotoSite';
  src: url('roboto-v29-latin_cyrillic-900.woff2') format('woff2');
  font-style: normal;
  font-weight: 900;
  font-display: swap;
}
