@import './reset.css';
@import './vars.css';

a {
  text-decoration: none;
}

hr {
  padding: 0;
  margin: 0;
}

body {
  min-width: 320px;
  font-family: var(--font-family-Roboto);
  font-size: 16px;
  overflow-x: hidden;
}
